@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root{

    --cor1: white;
    --cor2: rgba(0,0,0,.7);
    --cor3: #C2C3C6;
    --cor4: #F1F3FE;

    --font1: 'Yantramanav', sans-serif;
}

                    /* CONFIGURAÇÕES GERAIS */

*{
    padding: 0;
    margin: 0;
}

html, body{
    font-family: var(--font1);
    background-color: var(--cor4);
    overflow-x: hidden;
}

                    /* CABEÇALHO */

header{
    background-color: white;
    position: absolute;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo{
    font-size: 3em;
    color: var(--cor2);
}

#azul{
    display: inline;
    color: blue;
}

.menu, .conta{
    font-size: 20px;
}

.itens{
    display: flex;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}

.itens > li{
    padding: 20px;
}

.link{
    text-decoration: none;
    color: var(--cor2);
}

.link:hover{
    color: #0D6EFD;
}

.conta{
    display: flex;
    font-size: 25px;
    transition: 0.5s;
}

.clink{
    text-decoration: none;
    padding: 15PX;
}

#log{
    color:var(--cor2);
    font-weight: bold;
}

#log:hover{
    color: #0D6EFD;
}

#sing{
    background-color: blue;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 5px;
}

#sing:hover{
    background-color: #10069F;
    color: white;
    transition: 0.5s;
}

.conta > p{
    padding: 10px;
}

/*#paragrafo1{
    border: 2px solid;
    padding-right: 20px;
    padding-left: 20px;
}

#paragrafo2{
    border: 2px;
    padding-right: 20px;
    padding-left: 20px;
}*/

                    /* Main */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.imagem{
    height: 100%; 
    width: 98%;
}*/

.foto{
    position: relative;
    z-index: 1;
    background: url('../images/natal.jpg') no-repeat black;
    background-position: center center;
    background-size: cover;
    width: 95vw;
    height: 600px;
    margin-top: 92px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.637);
}

.texto{
    position: absolute;
    background-color: white;
    max-width: 550px;
    padding: 20px;
    padding-left: 35px;
    left: -3px;
    top: 60%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--cor2);
    border-radius: 10px;
    transition: 0.5s;
}

.final{
    padding: 30px;
    background-color: white;
}

.final > h1{
    margin: auto;
}

@media (max-width: 1137px){
    .texto{
        max-width: 450px;
        transition: 0.5s;
    }
}

@media (max-width: 767px){
    .texto{
        display: block
    }
}

@media (max-width: 836px){
    header{
        position: absolute;
    }
}